extends ../layout

block content
  h1= title
  form(method='post' enctype='multipart/form-data' action='upload')
    .form-group.row
      label Map image (.pgm)
      .col-sm-10
        input(type='file' name='map_image')

    .form-group.row
      label Map description (.yaml)
      .col-sm-10
        input(type='file' name='map_description')


