extends ../layout

block content
  h1= title
  form(method='post' enctype='multipart/form-data' action='gps_convert/fit_on_map')
    .form-group
      label Map image (.pgm)
      input.form-control-file(type='file' name='map_image', accept=".pgm")

    .form-group
      label Map description (.yaml)
      input.form-control-file(type='file' name='map_description', accept='.yaml')

    .form-group
      button.btn.btn-primary(type="submit") Upload

