doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/js/style.css")
    link(rel="icon" href="favicon.png")
  body

    nav.navbar.navbar-toggleable-md.fixed-top.navbar-inverse.bg-primary
      button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div.container
        a.navbar-brand(href="/")
          .logo
        div.collapse.navbar-collapse#navbarNavAltMarkup
          ul.navbar-nav.mr-auto
            li.nav-item(class=title == 'Robotslam' ? 'active' : '')
              a.nav-link(href="/") Home
            li.nav-item(class=title == 'Buildings' ? 'active' : '')
              a.nav-link(href="/buildings") Buildings

    div.container#main
      block content

    script(src='https://maps.micello.com/leaflet/1.0.0/leaflet.js')
    script(src='https://maps.micello.com/sdk/leaflet/v1/micellomap.js')
    script(src='/js/bundle.js')

