extends ../layout

block content
  h1 New Building

  form(method='post', action='/buildings')
    .form-group
      label Name
      input.form-control(type='text', name='name')

    input.btn.btn-primary(type='submit', value='Create building')
    = ' '
    a.btn.btn-secondary(href='/buildings') Cancel
