extends ../layout

block content
  .export-container
    .container
      .modal-dialog
        .modal-content
          .modal-header
            h5= `Exporting measurement #${measurement.id}`
          .modal-body
            .progress
              .progress-bar.progress-bar-striped.progress-bar-animated(data-max=points)
          .modal-footer
            button.btn.btn-primary(type="button") Start
