extends ../layout

block content
  //h1= title

  div(hidden='hidden')
    #visualize-data= coords
  #map-visualize

  .map-bottom
    .container
      a.btn.btn-success(href=`/measurements/${measurement.id}/export`) Export
      = ' '
      a.btn.btn-secondary(href=`/maps/${measurement.map.id}`) Back
