@import "~bootstrap/scss/bootstrap.scss";
@import "~leaflet/dist/leaflet.css";

body {
  padding-top: 5rem;
}

.logo {
  display: block;
  background: url('./images/robot.png');
  background-size: 208px 40px;
  height: 40px;
  width: 208px;
}

#main {

}

#map, #map-visualize {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-image {
  width: 350px;
  display: block;
  border: 1px solid #ccc;
  background-color: whitesmoke;

  img {
    width: 100%;
  }
}

form#map-submit {
  background-color: desaturate(#0275d8, 75%);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;

  .form-group {
    margin: 0;
  }
}
