@import "~bootstrap/scss/bootstrap.scss";
@import "~leaflet/dist/leaflet.css";

body {
  padding-top: 5rem;
}

.logo {
  display: block;
  background: url('./images/robot.png');
  background-size: 208px 40px;
  height: 40px;
  width: 208px;
}

#main {

}

#map, #map-visualize {
  height: 600px;
  margin-bottom: 15px;
}

